* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    background-color: beige;
    top: 0;
    width: 100vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

nav p {
    display: inline-block;
    margin:10px;
    padding: 10px;
    border: 1px solid tan;
    color: black;
}

nav p:hover {
    background-color: grey;
}

@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    height: 100vh;
    background: url(./assets/books.jpg); 
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Acme' , sans-serif;
}

.three-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: tan;
    border: dotted;
}

.three-box div {
    height: 500px;
    width: 400px;
    background-color: darkgrey;
    margin: 0px 10px 0px 10px;
    text-align: center;
    border: solid 3px;
}

.three-box div img {
    width: 100%;
}


.three-box div h3 {
    margin: 10px 0px 10px 20px;
    text-align: left;
    font-family: 'Acme' , sans-serif;
}

.three-box div p {
    margin: 0px 0px 0px 20px;
    text-align: left;
}

.three-box div button {
    height: 45px;
    width: 125px;
    background-color: tan;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
}

.two-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkgrey;
}

.two-box div {
    min-height: 450px;
    width: 400px;
    padding: 0px;
    background-color: lightgray;
    margin: 0px 60px 0px 60px;
    text-align: center;
    border: solid 3px;
}

.two-box div img {
    width: 100%;
    height: 500x;
}

.two-box div h3 {
    text-align: left;
    font-family: 'Acme' , sans-serif;
}

.two-box div p {
    margin: 10px 0px 10px 0px;
    text-align: left;
    padding: 20px;
}

.two-box div button {
    height: 45px;
    width: 125px;
    background-color: tan;
    border-radius: 5px;
    margin: 10px 0px 10px 20px;
}

.more-info {
    height: 100vh;
    background-image: url(./assets/hogwarts-wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Acme' , sans-serif;
}

.four-box {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: dotted;
}
.four-box div {
    height: 500px;
    width: 300px;
    background-color: darkgray;
    margin: 0px 20px 0px 20px;
    text-align: center;
    border: solid 3px;
}

.four-box div img {
    width: 100%;
}

.four-box div h3 {
    margin: 10px 0px 10px 20px;
    text-align: left;
    font-family: 'Acme' , sans-serif;
}

.four-box div p {
    margin: 0px 0px 0px 20px;
    text-align: left;
}
.four-box div button {
    height: 30px;
    width: 100px;
    background-color: tan;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
}

.one-box {
    height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.one-box div {
    min-height: 450px;
    width: 1000px;
    background-color: beige;
    margin: 0px 20px 0px 20px;
    text-align: left;
}

.one-box div img {
    width: 100%;
}

.one-box div h3 {
    margin: 10px 0px 10px 20px;
    text-align: left;
    font-family: 'Acme' , sans-serif;
}

.one-box div p {
    margin: 0px 0px 0px 20px;
    text-align: left;
    font-family: 'Acme' , sans-serif;

}
.one-box div button {
    height: 30px;
    width: 100px;
    background-color: tan;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./assets/doby.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    font-family: 'Acme' , sans-serif;
}
.contact-form h2 {
    text-align: center;
    color: white;
}



.contact-form div {
    width: 40%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    background-color: lightgray;
    opacity: 0.5;
    font-size: 16px;
    resize: none;
    color: black;
}

input {
    width: 10%;
    height: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    background-color: lightgray;
    opacity: 0.5;
    font-size: 16px;
    resize: none;
    color: black;
    justify-content: left;
    align-items: left;
}

textarea {
    width: 15%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    background-color: lightgray;
    opacity: 0.5;
    font-size: 16px;
    resize: none;
    color: black;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(3, 3, 3);
    border: none;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

}
footer {
    height: 100vh;
}