* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    background-color: teal;
    top: 0;
    width: 100vw;
    text-align: center;
}

nav p {
    display: inline-block;
    margin:10px;
    padding: 10px;
    border: 1px solid white;
}

nav p:hover {
    background-color: beige;
}
.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    height: 100vh;
    background: url(./Beach.jpg); 
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.three-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.three-box div {
    min-height: 450px;
    width: 400px;
    background-color: lightgray;
    margin: 0px 20px 0px 20px;
    text-align: center;
}

.three-box div img {
    width: 100%;
}

.three-box div h3 {
    margin: 10px 0px 10px 20px;
    text-align: left;
}

.three-box div p {
    margin: 0px 0px 0px 20px;
    text-align: left;
}

.three-box div button {
    height: 30px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
}

.two-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.two-box div {
    min-height: 450px;
    width: 400px;
    background-color: lightgray;
    margin: 0px 20px 0px 20px;
    text-align: center;
}

.two-box div img {
    width: 100%;
}

.two-box div h3 {
    margin: 10px 0px 10px 20px;
    text-align: left;
}

.two-box div p {
    margin: 0px 0px 0px 20px;
    text-align: left;
}

.two-box div button {
    height: 30px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
}

.more-info {
    height: 100vh;
    background-image: url(./Beach.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four-box {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.four-box div {
    min-height: 450px;
    width: 400px;
    background-color: darkgray;
    margin: 0px 20px 0px 20px;
    text-align: center;
}

.four-box div img {
    width: 100%;
}

.four-box div h3 {
    margin: 10px 0px 10px 20px;
    text-align: left;
}

.four-box div p {
    margin: 0px 0px 0px 20px;
    text-align: left;
}
.four-box div button {
    height: 30px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
}

.one-box {
    height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.one-box div {
    min-height: 450px;
    width: 400px;
    background-color: beige;
    margin: 0px 20px 0px 20px;
    text-align: center;
}

.one-box div img {
    width: 100%;
}

.one-box div h3 {
    margin: 10px 0px 10px 20px;
    text-align: left;
}

.one-box div p {
    margin: 0px 0px 0px 20px;
    text-align: left;
}
.one-box div button {
    height: 30px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
}

.contact-form {
    height: 100vh;
    background-color: lightgray;
}

footer {
    height: 100vh;
}