* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    position: fixed;
    background-color: beige;
    top: 0;
    width: 100vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

nav p {
    display: inline-block;
    margin:10px;
    padding: 10px;
    border: 1px solid tan;
    color: black;
}

nav p:hover {
    background-color: grey;
}

@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    height: 850px;
    background: url(./assets/books.jpg); 
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Acme' , sans-serif;
    font-size: 30px;
}

.three-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: darkgray;
}

.three-box div {
    height: 500px;
    width: 400px;
    background-color: lightgray;
    margin: 0px 10px 0px 10px;
    text-align: center;
}

.three-box div img {
    width: 100%;
}


.three-box div h3 {
    margin: 10px 0px 10px 20px;
    text-align: left;
    font-family: 'Acme' , sans-serif;
}

.three-box div p {
    margin: 0px 0px 0px 20px;
    text-align: left;
    font-family: 'Acme' , sans-serif;
    font-size: 16px;
}

.three-box div button {
    height: 45px;
    width: 125px;
    background-color: tan;
    border-radius: 5px;
    margin: 40px 40px 40px 40px;
}

.two-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: darkgrey;
}

.two-box div {
    min-height: 450px;
    width: 600px;
    padding: 0px;
    background-color: lightgray;
    margin: 0px 60px 0px 60px;
    text-align: center;
}

.two-box div img {
    width: 100%;
    height: 500x;
}

.two-box div h3 {
    text-align: center;
    font-family: 'Acme' , sans-serif;
    margin: 10px 0px 10px 0px;
}

.two-box div p {
    margin: 10px 0px 10px 0px;
    text-align: left;
    padding: 20px;
    font-family: 'Acme' , sans-serif;
    font-size: 16px;
}

.two-box div button {
    height: 45px;
    width: 125px;
    background-color: tan;
    border-radius: 5px;
    margin: 10px 0px 10px 20px;
}

.more-info {
    height: 300px;
    background-image: url(./assets/hogwarts-wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Acme' , sans-serif;
}

.more-info h3 {
    font-size: 30px;
}

.more-info div p {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    overflow-wrap: break-word;

}

.four-box {
    height: 600px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.four-box div {
    height: 450px;
    width: 300px;
    background-color: darkgray;
    margin: 0px 20px 0px 20px;
    text-align: center;
}

.four-box div img {
    width: 100%;
}

.four-box div h3 {
    margin: 10px 0px 10px 20px;
    text-align: left;
    font-family: 'Acme' , sans-serif;
}

.four-box div p {
    margin: 20px 20px 20px 20px;
    text-align: left;
    font-size: 20px;
}

.four-box div button {
    height: 40px;
    width: 120px;
    background-color: tan;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
}

.one-box {
    height: 1050px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.one-box div {
    min-height: 450px;
    width: 1000px;
    background-color: beige;
    margin: 0px 20px 0px 20px;
    text-align: left;
}

.one-box div img {
    width: 100%;
}

.one-box div h3 {
    margin: 10px 0px 10px 20px;
    text-align: left;
    font-family: 'Acme' , sans-serif;
    padding: 2%;
}

.one-box div p {
    text-align: left;
    font-family: 'Acme' , sans-serif;
    padding: 2%;
}
.one-box div button {
    height: 50px;
    width: 150px;
    background-color: tan;
    border-radius: 5px;
    margin: 40px 0px 20px 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./assets/doby.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Acme' , sans-serif;
    color: black;
    overflow-x: hidden;
}

.contact-form h2 {
    text-align: center;
    color: white;
    font-size: 40px;
}

.contact-form p {
    height: 100px;
    width: 670px;
    justify-content: center;
    background-color: lightgray;
    color: black;
    opacity: 0.5;
    padding: 15px;
    margin-left: 0%;
    margin-bottom: 3%;
    border-radius: 5px;
    border: 2px solid black;
}

.test {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    border-radius: 100%;
}

::placeholder {
    color: black;
    opacity: 1;
}

.testOne {
    height: 250px;
    width: 330px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    margin: 5px;
    border-radius: 5px 25px 25px 0px;
}

.testTwo {
    height: 240px;
    width: 355px;
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    border-radius: 5px;
}

input[type=text] { 
    height: 42px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    opacity: 0.5;
}

textarea {
    width: 342px;
    border-radius: 5px;
    border: 2px solid black;
}


input[type=button], input[type=submit], input[type=reset] {
    width: 30%;
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    padding-left: 5%; 
    box-sizing: border-box;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
